*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100%;
    overflow: auto;
    /*用于减去上下导航的高度（也可以在每个组件下自己定义）*/
    padding-top: 40px;
    padding-bottom: 55px;

}

/*图片查看器 样式*/
figure{
    display: inline-block;
    width: 30%;
    margin-left: 10px;
}
figure a{
    display: inline-block;
    width: 100%;
}
figure a img{
    display: inline-block;
    width: 100%;
}