
/* @charset "UTF-8"; 改变主题色变量 */
//$--color-primary: #ff0000;
//$--color-text-regular:#ff0000;

/* 改变 icon 字体路径变量，必需 */
//$--font-path: '~element-ui/lib/theme-chalk/fonts';
//@import "~element-ui/packages/theme-chalk/src/index";
//文字颜色
$my-text-color:#FFD04B;
//背景色
$my-bg-color:#1d1e23;
//字体size
$my-font-size22:22px;
$my-font-size18:18px;
$my-font-size16:16px;
$my-font-size14:14px;





